html {
	font-size: 62.5%;
} 

body{
	font-family: 'Open Sans', serif;
	font-weight: 400;
	font-size: 1.3rem;
	color: $colorGray;
	line-height: 1.42857143;
	background: $colorGrayExtraLight;
}

p{
	line-height: 2.25rem;
}

.header{
	background: #fff url(http://www.organizadasbrasil.com/imagens/topo-2011.jpg) center bottom no-repeat;
}

.header-menu{
	background: #fff url(http://www.organizadasbrasil.com/imagens/bg-menu.png) center bottom repeat-x;
	a{
		font-family: 'Open Sans Condensed';
		font-size: 1.5rem;
		font-weight: bold;
		color: $colorWhite;
	}
}

.side-menu{
	background: $colorWhite;
	dl{
		dt{
			line-height: 30px;
			font-family: 'Open Sans Condensed';
			font-size: 1.5rem;
			font-weight: 600;
			color: $colorGreen;
			border-bottom: 1px dotted $colorGreenExtraLight;
			i{
				padding-right: 5px;
				font-size: .75rem;
				font-weight: 800;
				color: $colorGreenDark;
			}			
		}
		dd{
			line-height: 22px;
			border-bottom: 1px dotted $colorGreenExtraLight;
			i{
				padding-right: 3px;
				font-size: .65rem;
				font-weight: 800;
				color: $colorYellow;
			}
			a{
				color: $colorGreen;
			}
		}
		dl{
			display: none;
		}
	}
}

main{
	.container{
		border: 1px solid $colorGrayLight;
		background: $colorWhite;
		.torcida{
			border: 1px solid #ccc;
			border-radius: 4px;
			background: $colorWhite;
		}
	}
}

.parceiros{
	border: 1px solid $colorGrayLight;
	border-top-width: 2px;
	background: $colorWhite;
}

.principal{
	background: $colorGrayMediumLight;
	.box-resumo{
		position: relative;
		border: 1px solid $colorGrayMedium;
		border-radius: 4px;
		background: $colorWhite;
		.estado{
			position: absolute;
			top: 15px;
			right: 15px;
			a{
				display: block;
				color: $colorGreen;
				text-decoration: underline;
				img{

				}
				span{
					display: block;
					font-family: 'Open Sans condensed', sans-serif;
					font-weight: 600;
				}				
			}
		}
		.simbolo{
			padding-left: 15px;
    		padding-right: 15px;
		}
		h1{
			font-family: 'Open Sans condensed', sans-serif;
			font-weight: 700;
			font-size: 3rem;
			color: $colorGrayDark;
			text-transform: uppercase;
		}
		h2{
			padding: 0 10px;
			font-family: Georgia, Arial, helvetica, Sans-serif;
			font-size: 2rem;
			font-style: italic;
			color: $colorGreenDark;
			i{
				position: relative;
				top: 5px;
				padding-right: 5px;
				font-size: 3rem;
				color: darken($colorGrayLight, 5);
			}
		}
		h3{
			font-family: 'Open Sans Condensed';
			font-size: 1.85rem;
			font-weight: 600;
		}
		.dados{
		    line-height: 2.3rem;
		    margin-top: 20px;
			margin-bottom: 30px;
		}
		.time{
			span{
				color: $colorOrange;
			}
		}
	}
}
.side-banner{
	.box-banner{
		overflow: hidden;
		border: 1px solid $colorGrayLight;
		background: $colorGrayExtraLight;
		> div{
			width: 160px;
			hwight: 600px;
			margin: 10px auto;
		}
	}
}
.simbolo{
	padding-left: 0px;
	padding-right: 10px;
	a{
		img{
		&:hover{
			opacity: .75;
				@include transition;
			}
		}
	}
	.compartilhe{
		font-family: 'Open Sans Condensed';
		font-size: 1.3rem;
		font-weight: 600;
	}
}
.infos{
	div{
		div{
			// padding-right: 0;
			strong{
				font-family: 'Open Sans Condensed';
				font-size: 1.4rem;
			}
			&.odd{
				background: #F2F2F2;
			}
		}
		.lema{
			Font-family: Georgia;
		}
		a{
			color: $colorGreen;
			text-decoration: underline;
			&:hover{
				color: $colorGreenDark;
				text-decoration: none;
			}
		}		
	}
}

.texto-historia,
.fotos,
.comentarios{
	background: #F2F2F2;
}

footer{
	background: $colorGrayLight;
}

/*
	BIGSLIDE
*/
#menu{
	background: $colorGrayDark;
    z-index: 10;
    @media #{$mobi-up}{
    	left: -15.625em !important;
    }
}

.panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.wrap {
    position: relative;
}